.box{
    position: absolute;
    left: 40%;
    top: 28%;
    text-align: center;
    border: 2px solid black;
    height: 40%;
    width: 20%;
    color: beige;
    font-size: large;
    background-color: black;
    border-radius: 10px;


}

form{

    padding: 10% ;
    
}
label {
    margin-top: 20px;
    margin-bottom: 10px; 
    display: block;}

    h1{
        margin-top: 8%;
    margin-left: 15%;

    }
    